body {background-image: url(images/background7.jpg);
    font-family:cursive,monospace;
}

#container{
    background-color: seashell;
    background-size: cover;
    width:1100px;
    margin-left: auto;
    margin-right:auto;   
}

#header{background-color:indianred;
    color: gold;
    text-align: center;
    padding: 2px;
}

#content{
    padding:15px;
    
}
#nav{width:265px;
    float: left;
    background-image: url(images/background22.png);
    background-size:cover;
    background-position: 588px 1100px;
    margin-right:10px;
    height:550px; 
    margin-bottom:15px;
}
#main{width:785px;
    float: right;
    align-content: center;
}

#nav .selected{
    font-weight: bold;
}
a{text-decoration: none;
    color: blueviolet;
    
   
}
   

#nav ul{padding:none;
    margin-bottom:10px; 
     
    
}

h1,h2,h3{margin:10px; }

#footer{
    clear:both;
    padding: 10px;
    background-color:lightgreen;
    text-align: right;
    color: brown;
    
}
